body {
    background-image: url("../img/email-pattern.png");
}

/* h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
} */

p, a {
    font-size: 22px;
}

textarea {
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.inl-blk {
    display: inline-block;
}

.jumbotron {
    background-color: transparent !important;
}

#grapes {
    position: relative;
    z-index: -1;
}

#grapes img {
    position: relative;
    /* z-index: -1; */
    bottom: 277px;
    width: 34%;
}

#grapes-right {
    float: right;
    transform: scaleX(-1);
}

.content {
    position: relative;
    top: -480px;
    padding-left: 100px;
    padding-right: 100px;
}

.underline {
    /* text-decoration: underline; */
    border-bottom: 1px solid;
}

#subhead {
    font-size: 2.5rem !important;
}