body {
    background-image: url("../img/email-pattern.png");
}

p, a {
    font-size: 22px;
}

textarea {
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.lead {
    font-size: 1.5rem !important;
    font-style: italic;
}

.jumbotron {
    background-color: transparent !important;
}

.content {
    position: absolute;
    top: 325px;
    left: 10%;
    padding-left: 100px;
    padding-right: 100px;
    width: 80%;
}

.underline {
    /* text-decoration: underline; */
    border-bottom: 1px solid;
}

#grapes {
    position: relative;
    z-index: -1;
}

#grapes img {
    position: relative;
    /* z-index: -1; */
    bottom: 277px;
    width: 34%;
}

#grapes-right {
    float: right;
    transform: scaleX(-1);
}

#subhead {
    font-size: 2.5rem !important;
    width: fit-content;
}

@media screen and (max-width: 480px) { 
    .content {
        top: 200px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #subhead {
        font-size: 2rem !important;
    }
}